{{> menu active="dashboard"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Weather Readings
  </h3>
  <div class="section">
    {{> reading-table}}
  </div>
  <section class="section">
    <form action="/station/{{station._id}}/addreport" method="POST">
      <div class="field is-grouped">
        <button class="button is-link">Add Reading</button>
      </div>
    </form>
  </section>
</section>